<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      rel="stylesheet"
    />

    <title>Cool Dropdown Navbar</title>
  </head>

  <body>
    <!--<header>
    <a href="#home" class="logo">Campus <span>Buddy</span></a>

    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <div class="dropdown">
        <a href="#">Services ▼</a>
        <div class="dropdown-content">
          <a href="#">Saved Notes</a>
          <a href="#">Notepad</a>
          <a href="#">Upload Notes</a>
          <a href="#">Upcoming Events</a>
        </div>
      </div>
      <a href="#">Gallery</a>
      <a href="#">Contact</a>
      <div class="top-btn">
        <a href="#" class="nav-btn">Sign Up</a>
      </div>
      <div class="top-btn">
        <a href="#" class="nav-btn">Sign In</a>
    </div>
    </nav>
    abt sec

    <h2>Abt sec</h2>
    <p>hellloooo! mic testing 1 2 3 </p>
    </header>-->
    <section>
      <div class="services">
        <h2>Our Services</h2>
        <div class="content">
          <div class="cards">
            <div class="card">
              <div class="sbox">
                <i class="fa-solid fa-file-pdf"></i>
                <h3>Store PDFs</h3>
                <p>Store your important PDFs without the fear loosing  hello my name is this</p>
                <a href="#"> Sign up </a>
              </div>
            </div>
            <div class="card">
              <div class="sbox">
                <i class="fa-solid fa-file"></i>
                <h3>Upload PDFs</h3>
                <p>Upload PDFs to help other students and get help</p>
                <a href="#"> Sign up </a>
              </div>
            </div>
            <div class="card">
              <div class="sbox">
                <i class="fa-solid fa-clipboard"></i>
                <h3>Notepad</h3>
                <p>A notepad for you so you can make your own notes here</p>
                <a href="#"> Sign up </a>
              </div>
            </div>
            <div class="card">
              <div class="sbox">
                <i class="fa-solid fa-calendar-days"></i>
                <h3>Events Calendar</h3>
                <p>get every update related to campus and upcoming</p>
                <a href="#"> Sign up </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
